
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

img {
  border: 0;
}

img.floatright {
  float: right;
  margin-left: 10px;
}

img.floatleft {
  float: left;
  margin-right: 10px;
}

body {
  background-color: #ffffff;
  font: 13.34px "helvetica neue", helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center; 
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  font-size: 2.1em;
  margin: 1.5em 0 1em -.5em;
}

p {
  margin: 1em 0;
}

a:link,
a:visited {
  color: #660000;
  text-decoration: none;
}

a:hover {
  color: #33CFCC;
}


table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span{
    color: #666;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-style: italic;
  }


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: left;
  width: 50em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #660000;
  font-weight: bold;
  margin-bottom: 2em;
}

.site .title img{
  float: left;
  border: 1px solid #ccc;
  margin-right: 20px;
  margin-left: -20px;
  height: 180px;
  width: 130px;
}

  .site .title a:link,
  .site .title a:visited {
    color: #660000;
    text-decoration: none;
    font-size: 4em;
    margin-left: -.5em;
  }
  
  .site .title a:hover {
    color: #33CFCC;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }
  
  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #666;
    font-style: italic;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }
  
    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }
    
      .site .footer .contact a {
        color: #8085C1;
      }
    
    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }
    
      .site .footer .rss img {
        border: 0;
      }
    
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
  
}

  /* standard */
  
  #post pre {
    padding: 0 .4em;
    border: none;
  }
  
  #post code {
    background-color: #eef;
    font-size: 95%;
    padding: 0 .2em;
  }
  
    #post pre code {
      border: none;
    }
    
  /* terminal */
  
  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }
  
  #post pre.terminal code {
    background-color: #333;
  }
  
  #post ul {
    margin-left: 1em;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

#elsewhere {
	width: 340px;
}

#github-badge {
	width: 200px;
	float: right;
	clear: right;
	margin-right: 1em;
}

img {
  max-width: 40em;
}

blockquote {
  margin: 1em 3em;
  color: #999;
  border-left: 2px solid #999;
  padding-left: 1em;
}